.nav {
  background-color: #ffffff;
  height: 96px;
  padding: 14px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-content {
  width: 92.9%;
  width: 1260px;
  height: 68px;
  padding: 3px 10px;
  .nav-brand {
    position: static;
    padding: 6px 48px 6px 0px;
    width: 226px;
    height: 68px;
    img {
      position: static;
      left: 0%;
      right: 21.24%;
      top: 8.82%;
      bottom: 8.82%;
    }
  }
  .right-items {
    position: static;
    width: 229px;
    height: 48px;
    right: 0px;
    margin-top: 10px;
  }
  .nav-items {
    .links {
      width: fit-content;
      padding: 20px 6px 5px 6px;
      p {
        // font-family: SF Pro Display;
        // font-style: normal;
        // font-weight: normal;
        font-size: 14px;
        line-height: 143%;
        display: flex;
        align-items: center;
        color: #000000;
      }
    }
  }
}

@media screen and (min-width: 1367px) {
  .nav-content {
    width: 66.14%;
    margin: 14px 16.93%;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: static;
  width: 815px;
  height: 36px;
  left: calc(50% - 815px / 2 + 113px);
  top: calc(50% - 36px / 2);
}
